<div class="container-fluid bg">
    <div class="text-center text-white pt-2">
        <h2><b><i>BlackPoolBus</i></b></h2>
    </div>
    <div class="row">
        <div class="col-sm-12 text-light rounded py-12">
            <div class="p-4 md-3">
                <div *ngIf="user">
                    <h3><b>Welcome to BlackPoolBus! <span class="text-danger"><i>{{user.userName}}</i></span></b></h3>
                    <small><b>User Id: {{ user.userId }}</b></small><br />
                    <button class="btn btn-danger float-left" routerLink="/userHome">Home</button>
                    <button class="btn btn-danger float-right" (click)="logout()">Logout</button>

                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jb1 bg1 p-3 ">
        <h3 class="text-center text-white"><b>Update Passenger</b></h3>
        <div class="row">
            <div class="col-12">
                <h3 class="text-white"><b>Passenger Details</b></h3>
            </div>
        </div>

        <form [formGroup]="passengerForm" (ngSubmit)="submit()">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="text-white">Name</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="passengerForm.controls.name.invalid && passengerForm.controls.name.touched"
                        formControlName="name" placeholder="name">
                    <small class="text-danger"
                        *ngIf="passengerForm.controls.name.invalid && passengerForm.controls.name.touched">*Mandatory
                        Field</small>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-white">Age</label>
                    <input type="number" class="form-control"
                        [class.is-invalid]="passengerForm.controls.age.invalid && passengerForm.controls.age.touched"
                        formControlName="age" placeholder="age">
                    <div *ngIf="passengerForm.controls.age.invalid && passengerForm.controls.age.touched">
                        <small class="text-danger" *ngIf="passengerForm.controls.age.errors?.required">*mandatory
                            Field</small>
                        <small class="text-danger"
                            *ngIf="passengerForm.controls.age.errors?.min || passengerForm.controls.age.errors?.max">*age
                            must be between 1 to 100</small>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="text-white">luggage</label>
                    <input type="number" class="form-control"
                        [class.is-invalid]="passengerForm.controls.luggage.invalid && passengerForm.controls.luggage.touched"
                        formControlName="luggage" placeholder="luggage">
                    <div *ngIf="passengerForm.controls.luggage.invalid && passengerForm.controls.luggage.touched">
                        <small class="text-danger" *ngIf="passengerForm.controls.luggage.errors?.required">*mandatory
                            Field</small>
                        <small class="text-danger"
                            *ngIf="passengerForm.controls.luggage.errors?.min || passengerForm.controls.luggage.errors?.max">*luggage
                            must be between 0 to 15kg</small>
                    </div>
                </div>
            </div>
            <div align="center">
                <input type="submit" value="update Passenger" class="btn btn-danger">
            </div>
        </form>

    </div>


</div>

<footer class="bg-dark fixed-bottom text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" style="text-decoration: none;" href="#">BlackPoolBus</a>
  </div>

</footer>

