<div class="container-fluid bg">
  <div class="text-center text-white pt-2">
    <a routerLink="/adminHome" style="color: white; text-decoration:none;">
      <h2><b><i>BlackPoolBus</i></b></h2>
    </a>

    <button class="btn btn-danger float-left m-1" routerLink="/adminHome">Home</button>
  </div>
  <br><br><br>
  <div class="panel panel-danger bg1 p-1 m-1 rounded">
    <div class="panel-heading">
      <h3 class="text-center"><b>List of Buses</b></h3>
    </div><br>
    <div class="panel-body">
      <table class="table table-striped" *ngIf="bus">
        <thead class="thead-dark">
          <tr>
            <th>Bus Number</th>
            <th>Departure Bus-stop</th>
            <th>Arrival Bus-stop</th>
            <th>Available Seats</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Bus Vendor</th>
            <th>Ticket Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bus of bus">
            <td>{{bus.busNumber}}</td>
            <td>{{bus.departureBusstop}}</td>
            <td>{{bus.arrivalBusstop}}</td>
            <td>{{bus.availableSeats}}</td>
            <td>{{bus.departureDate}}</td>
            <td>{{bus.arrivalDate}}</td>
            <td>{{bus.arrivalTime}}</td>
            <td>{{bus.departureTime}}</td>
            <td>{{bus.busVendor}}</td>
            <td>{{bus.cost}}</td>
            <td><button class="btn btn-danger" (click)="removeBus(bus.busNumber)">Delete</button> &nbsp;
              <button class="btn btn-success" (click)="updateBus(bus.busNumber)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<footer class="bg-dark fixed-bottom text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" style="text-decoration: none;" href="#">BlackPoolBus</a>
  </div>

</footer>

